@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.slider-background {
    background-color: #FEEAE9;
}

.catogories-background {
    background: rgb(255, 156, 53);
    background: linear-gradient(90deg, rgba(255, 156, 53, 1) 0%, rgba(255, 208, 25, 1) 100%);
}

.catogories-background-2 {
    background: rgb(255, 88, 155);
    background: linear-gradient(90deg, rgba(255, 88, 155, 1) 0%, rgba(255, 19, 111, 1) 100%);
}

.catogories-background-3 {
    background: rgb(66, 137, 255);
    background: linear-gradient(90deg, rgba(66, 137, 255, 1) 0%, rgba(63, 7, 248, 1) 100%);
}

.button {
    background: rgb(255, 88, 155);
    background: linear-gradient(90deg, rgba(255, 88, 155, 1) 0%, rgba(255, 19, 111, 1) 100%);
}